{% if linklists[block.settings.menu].links.size > 0 %}
  <ul class="c-footer__links c-mb--0">
    {% for link in linklists[block.settings.menu].links %}
      <li class="c-footer__link"><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
